*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-white: #fff;
    --clr-light: #EDE2CB;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    --clr-accent2: #E01639;
    --clr-darkwhite: #EDE2CB;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-h5: 1.25rem;
    --fs-footer: 2rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.75rem;
        --fs-h5: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

/* endable this to add smooth scrolling*/
html{
    scroll-behavior: smooth;
}


body {
    background: var(--clr-white);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    transition: .5s ease all;
}
body.dark {
    transition: .3s ease all;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold)
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}
h5{
    font-size: var(--fs-h5);
}


.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}






.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}

/* Theme switch */
.theme__switch{
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    margin-right: 3.5em;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    transition: .3s ease all;
}
.theme__switch span{
    width: 1.75em;
    height: 1.2em;
    display: block;
    background: none;
    color: var(--clr-light);
}

.theme__switch::after{
    content: '';
    display: block;
    width: 1.8em;
    height: 1.4em;
    position: absolute;
    background: #343D5B;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .5s ease all;
    box-shadow: 0em 0em 2px 2px rgba(0, 0, 0, .2);
}
.theme__switch.active{
    background: var(--clr-light);
    transition: .3s ease all;
}

.sol{
    color: var(--clr-dark);
    width: 100%;
    margin-top: .1em;
    margin-bottom: 0;
}

.theme__switch.active::after{
    background: var(--clr-text);
    right: 0;
    left: unset;
}

body.dark{
    background: var(--clr-dark);
    color: var(--clr-light);
}

body .logo__img{
 background-image: url(../img/eur1p3des.png);
 background-repeat: round;
}
body.dark .logo__img{
    background-image: url(../img/eur1p3des_white.png);
    background-repeat: round;
}


/*  Intro section  */
.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
    background-color: var(--clr-white);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1em;
        width: calc(100% + 4.5em);
    }
}

body.dark .intro__img{
    background-color: var(--clr-dark);
}


/*  My services section  */

.my-services {
    background-color: var(--clr-dark);
    background-image: url(../img/services-bg.jpg);
    background-size: cover;
    background-blend-mode: luminosity;
    color: var(--clr-white);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-white);
    opacity: 0.25;
}

.services {
    margin-bottom: 4em;
}

.service {
    width: 300px;
    margin: 0 auto; 
}
.service p{
    text-align: justify;
}


body.dark .my-services{
    background-blend-mode: multiply;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service+.service {
        margin-left: 2em;
    }
}



/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.my-skills {
        background-color: var(--clr-white);
        color: var(--clr-dark);
        text-align: center;
        margin-bottom: 0px;
}

.skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-left: 20em;
}

.skills__item {
    background: transparent;
    margin-top: 1em;
}


.skills__img {
    width: 20%;    
    filter: grayscale(10);
    background-color: transparent;
    transition: all 0.4s ease-in-out;
}

.skills__item:focus {
    position: relative;
    z-index: 2;
}

.skills__img:hover,
.skills__item:focus .skills__img {
    filter: none;
    transform: scale(1.2);
    opacity: 1;
}

body.dark .section__title--skills {
    color: var(--clr-light);
}

body.dark .my-skills,
body.dark .skills__img {
    background: var(--clr-dark);
}
body.dark .skills__img{
    filter: grayscale(85%);
    background-color: transparent;
    transition: all 0.5s ease-in-out;
}
body.dark .skills__img:hover{
    filter: none;
}

@media (max-width: 1000px){
    .skills{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        margin: 0;
    }
    .skills__img{
        width: 90%;
    }

}



/* About me */
.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
    background-color: var(--clr-white);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
        text-align: center;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

body.dark .about-me__img{
    background-color: var(--clr-dark);
}

/* Divisory__line */
.divisory__line{
    width: 90%;
    height: .01em;
    display: block;
    opacity: 75%;
    margin-top: 0em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0em;
    padding: 0;
    border-radius: 1000px;
    background-color: var(--clr-dark);
    color: var(--clr-dark);
    box-shadow: var(--bs);
}
body.dark .divisory__line{
    width: 90%;
    height: .01em;
    display: block;
    opacity: 75%;
    margin-top: 0em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0em;
    padding: 0;
    border-radius: 1000px;
    background-color: var(--clr-light);
    color: var(--clr-light);
    box-shadow: var(--bs);
}

/* My Work */
.my-work {
    background-color: var(--clr-white);
    color: var(--clr-dark);
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--clr-white);
    transition:
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}


.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .5;
}


body.dark .section__title--work{
    color: var(--clr-light);
}

body.dark .my-work,
body.dark .portfolio__img{
    background: var(--clr-dark);
}

/* Back to top */
.scroll-btn{
    position: fixed;
    right: 10px;
    bottom: 10px;
    margin: 0;
    font-size: 3rem;
    color: var(--clr-accent2);
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.scroll-btn:hover{
    color: var(--clr-accent);
}





/* footer */

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footer__img{
    width: 5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    padding: 0;
}


.section__title--footer{
    font-size: var(--fs-footer);
    color: var(--clr-white);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-size: var(--fs-body);
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

.footer_divisory{
    width: 90%;
    height: .01em;
    display: block;
    opacity: 15%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    padding: 0;
    border-radius: 1000px;
    background-color: var(--clr-white);
    color: var(--clr-white);
    box-shadow: var(--bs);
}

.copyright{
    font-size: var(--fs-body);
    color: var(--clr-white);
}

body.dark .section__title--footer,
body.dark .copyright{
    color: var(--clr-light);
}
body.dark .footer_divisory{
    background-color: var(--clr-light);
    color: var(--clr-light);
}

/* Individual portfolio item styles */

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.code pre{
    color: var(--clr-light);
}

@media (max-width: 600px) {
    .codigo{
        width: 100%;
        overflow-x: scroll;
    }
    .scroll-btn{
        font-size: 1.75rem;
    }    
}
