<div class="flex flex-col md:flex-row md:items-center mb-10 gap-5">
  <img
    src="/profile.webp"
    class="size-24 rounded-full"
    alt="Logo"
  />
  <div class="flex-1">
    <h1 class="font-bold text-xl md:text-2xl">Hey, soy Ernest Anguera</h1>
    <p class="text-sm md:text-base">Ingeniero informático</p>
  </div>
  <p class="text-base md:text-lg text-pretty font-semibold md:ml-5">
    Técnico Superior en ASIR con algo de experiencia en el desarrollo de
    software. Actualmente estoy en mi último año del grado de Ingeniería
    Informática.
  </p>
</div>
