<div class="flex mb-10 gap-5">
  <img
    src="../../public/profile.webp"
    class="size-24 rounded-full"
    alt="Logo"
  />
  <div class="items-start justify-start">
    <h1 class="font-bold text-2xl">Hey, soy Ernest Anguera</h1>
    <p class="text-sm">Ingeniero informático</p>
  </div>
  <p class="text-lg text-pretty font-semibold">
    Técnico Superior en ASIR con algo de experiencia en el desarrollo de
    software. Actualmente estoy en mi último año del grado de Ingeniería
    Informática.
  </p>
</div>
