---
const personalImageAlt = "Miguel Ángel";
---

<h2
  class="left-0 right-0 mx-auto items-center justify-between max-w-screen-lg text-2xl leading-tight font-bold pb-2"
>
  Sobre Mi
</h2>
<article
  class="flex flex-col items-center left-0 right-0 mx-auto max-w-screen-lg justify-center gap-x-8 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy <strong>Ernest Anguera</strong>, un entusiasta de la ciberseguridad
      con una sólida base en <strong
        >Administración de Sistemas Informáticos en Red (ASIR)</strong
      >. Actualmente, estoy cursando mi cuarto año de <strong
        >Ingeniería Informática</strong
      >
      en la Universitat Politècnica de Catalunya (UPC), donde profundizo en mi especialización
      en seguridad informática.
    </p>
    <p>
      Con experiencia en la administración de sistemas y servidores, busco
      mejorar continuamente mis habilidades para enfrentar los desafíos de la
      <strong>seguridad corporativa</strong>.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/profile.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
