---
const personalImageAlt = "Ernest Anguera";
---

<h2
  class="left-0 right-0 mx-auto items-center justify-between max-w-screen-lg text-2xl leading-tight font-bold pb-2"
>
  Sobre Mi
</h2>
<article
  class="flex flex-col items-center left-0 right-0 mx-auto max-w-screen-lg justify-center gap-x-8 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1 mt-4 md:mt-0"
  >
    <p>
      Soy <strong>Ernest Anguera</strong>, <strong>Ingeniero Informático</strong> y
      <strong>desarrollador SAP</strong> con experiencia en la creación, mantenimiento
      y optimización de <strong>soluciones empresariales</strong>.
    </p>
    <p>
      Combino conocimientos en <strong>sistemas, redes y ciberseguridad</strong> con
      habilidades de <strong>programación</strong> (Java, C++, Python, ABAP) y
      automatización. Me caracterizo por mi <strong>adaptabilidad</strong>, trabajo en
      equipo y compromiso con la <strong>mejora continua</strong>.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/profile.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 mb-4 md:mb-0"
    style="object-position: 50% 50%"
  />
</article>
